﻿@model CrudOperationInMVC.Models.Employee
@{
    ViewBag.Title = "Create";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mt-4">Create Employee</h3>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-plus me-1"></i>
                    Create Employee
                </div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success" role="alert">
                        @ViewBag.Message
                    </div>
                }
                <div class="card-body">
                    <form class="form-horizontal" id="frmcreate" onsubmit="return false;">
                        <div class="mb-3">
                            <label class="control-label col-md-2" for="Employeeld">Employeeld</label>
                            <input class="form-control text-box single-line" data-val="true" id="Employeeld" name="Employeeld" type="number" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Employeeld" data-valmsg-replace="true"></span>
                        </div>
                        <div class="mb-3">
                            <label class="control-label col-md-2" for="EmployeeName">EmployeeName</label>
                            <input class="form-control text-box single-line" id="EmployeeName" name="EmployeeName" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="EmployeeName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="mb-3">
                            <label class="control-label col-md-2" for="EmployeeSalary">EmployeeSalary</label>
                            <input class="form-control text-box single-line" data-val="true" id="EmployeeSalary" name="EmployeeSalary" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="EmployeeSalary" data-valmsg-replace="true"></span>
                        </div>
                        <div class="mb-3">
                            <label class="control-label col-md-2" for="EmployeeCity">EmployeeCity</label>
                            <input class="form-control text-box single-line" id="EmployeeCity" name="EmployeeCity" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="EmployeeCity" data-valmsg-replace="true"></span>
                        </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid">
                                <input type="submit" value="Create Employee" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                    <p class="text-right">
                        <div class="d-grid"><a class="btn btn-danger btn-block" @Html.ActionLink("Cansel", "Index", "Employee")</a></div>
                    </p>
                </div>
                <div class="card-footer text-center py-3">
                    @*<div class="small"><a href="login.html">Have an account? Go to login</a></div>*@
                </div>
            </div>
        </div>

        
    </main>
</div>

@section customscripts{
    <script>
        jQuery(document).ready(function () {
            jQuery("#frmcreate").validate({
                ignore: [],
                rules: {
                    Employeeld: {
                        required: true
                    },
                    EmployeeName: {
                        required: true
                    },
                    EmployeeSalary: {
                        required: true
                    },
                    EmployeeCity: {
                        required: true
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    var id = $("#Employeeld").val();
                    var Name = $("#EmployeeName").val();
                    var Salary = $("#EmployeeSalary").val();
                    var City = $("#EmployeeCity").val();
                    var dataToBeSend = {
                        Employeeld: id,
                        EmployeeName: Name,
                        EmployeeSalary    : Salary,
                        EmployeeCity : City
                    };
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Create", "Employee")",
                        data: JSON.stringify(dataToBeSend),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (response) {
                            alert("Berhasil di simpan")
                            window.location.href = '@Url.Action("Create", "Employee")';
                            
                        },
                        error: function () {
                            document.getElementById("loading").style.display = 'none';
                            document.getElementById("frmcreate").reset();
                            $("#RegisterSubmit").prop('disabled', false);
                        }

                    });
                }
            });
        });
            
    </script>
}

