﻿@model IEnumerable<CrudOperationInMVC.Models.Employee>

@{
    ViewBag.Title = "Employee";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mt-4">Data Employee</h3>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Data Employee
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-secondary">@Html.ActionLink("Create New", "Create")</button> <br /><br />
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
                                <th>@Html.DisplayNameFor(model => model.EmployeeSalary)</th>
                                <th>@Html.DisplayNameFor(model => model.EmployeeCity)</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
                                <th>@Html.DisplayNameFor(model => model.EmployeeSalary)</th>
                                <th>@Html.DisplayNameFor(model => model.EmployeeCity)</th>
                                <th>ACTION</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Employeeld)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeSalary)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeCity)
                                        </td>
                                        <td>
                                            <center>
                                                <button type="button" class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = item.Employeeld })</button> |
                                                <button type="button" class="btn btn-info">@Html.ActionLink("Details", "Detail", new { id = item.Employeeld })</button> |
                                                <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Employeeld })</button>
                                            </center>
                                        </td>
                                    </tr>

                                }
                            }
                            else
                            {
                            <td colspan="4" class="text-center"><b>Tidak Ada Data Yang Di Terima . Tolong Tambah Data Dengan Klik Tombol Create Di Button</b></td>

                        }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
