﻿@model CrudOperationInMVC.Models.Employee
@{
    ViewBag.Title = "Detail";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mt-4">Detail Employee</h3>

            
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-plus me-1"></i>
                    Detail Employee
                </div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="30%">Name Employee</th>
                            <td>@Html.DisplayNameFor(model => model.EmployeeName)</td>
                        </tr>
                        <tr>
                            <th width="30%">Salery Employee</th>
                            <td>@Html.DisplayFor(model => model.EmployeeSalary)</td>
                        </tr>
                        <tr>
                            <th width="30%">City Employee</th>
                            <td>@Html.DisplayFor(model => model.EmployeeCity)</td>
                        </tr>
                    </tbody>

                </table>
                @*<button type="button" class="btn btn-primary">@Html.ActionLink("Back To List", "Employee")</button>*@
                <div class="card-footer text-center py-3">
                    <div class="small"><a @Html.ActionLink("Back To List", "Employee")</a></div>
                </div>
            </div>
            </div>
    </main>
</div>